/*NUMERO D'ECOUTE*/
/*BANNIERE*/
.ecoute {
    position: relative; /* Permet au bloc .appel de se positionner correctement */
    width: 100%;
    height: 600px; /* Ajuste selon la taille de ta bannière */
}
.banniereEcoute {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*CADRE D'APPEL*/   
.appel {
    position: absolute;
    top: 50%; 
    right: 5%; 
    transform: translateY(-50%);
    padding: 2.5rem;
    border: 0.125em solid var(--color-white);
    border-radius: 0.938em;
    width: 600px;
    font-size: 1.7em;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: center;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.numtel {
    font-size: 2em;
    margin-left: 10px;
}

/*BOUTONS*/
.btn {
    margin-top: 1.5rem;
}

.btn a {
    margin: 0 0.5rem;
}

.btn button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9em;
    background-color: #74BFC4;
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #506FA5;
}
/*FIN DU NUMERO D'ECOUTE*/

/*CARROUSEL*/
.InfoCarrousel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 20px 90px;
}

.InfoCarrousel a {
    display: inline-block;
    text-decoration: none;
    margin: 20px 0 0 0;
    color: var(--color-black);
    font-size: 19px;
}

.carousel {
    position: relative;
    width: 1500px;
    height: 500px;
    overflow: hidden; /*cache les images qui dépassent*/
    margin-top: 70px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /*animation changement d'images*/
}

.carousel-item {
    min-width: 100%;
    height: 100%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel a {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.partenariat {
    display: flex;
    flex-direction: column;
    margin: 200px 110px 0 80px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.partenariat img {
    margin-top: 10px;
    height: auto;
}
/*FIN DU CARROUSEL*/

/*SECTIONS*/
/*MISE EN FORME COMMUNE*/
.Info{
    margin:0 90px 0 90px;
    padding:20px 0 20px 0;
    border-top: 2px solid #A3C7C2;
    text-align: center;
}

.InfoStyle{
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

.backColor{
    background-color: #E9F1F1;
    padding: 20px 0 20px 0;
}

/*INFOLETTRE ET ACTU*/
.Contenu{
    display: flex;
    justify-content: center; 
    gap: 260px; 
}
/*FIN DE L'INFOLETTRE ET DE L'ACTU*/


/*THEATRE*/
.ContenuT {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.imageTheatre img {
    width: 200; 
    height: auto;
    margin-left: 120px;
}

.TheatreContenu {
    max-width: 500px; 
}

.titre{
    font-size: 22px;
}
.auteur {
    font-size: 15px;
}

.resume {
    text-align: left; 
}
/*FIN DU THEATRE*/

/*ACTION*/
.btnAction {
    display: flex;                   
    justify-content: center;        
    gap: 20px;                      
}

.btnAction a {
    display: flex;                   
    flex-direction: column;          
    align-items: center;             
    text-decoration: none;           
    color: var(--color-black);       
    background-color: #efe8c5;       
    padding: 20px;                   
    width: 150px;                    
    border-radius: 10px;             
    text-align: center;             
}

.btnAction a:hover{
    background-color: #f8ebac;
}

.button-image {
    max-width: 100%;                
    height: auto;                    
    margin-top: 10px;                
}
/*FIN DE ACTION*/
/*FIN DES SECTIONS*/

/*RESPONSIVE*/
