/*NUMERO D'ECOUTE*/
/*BANNIERE*/
.ecoute {
    position: relative; /* Permet au bloc .appel de se positionner correctement */
    width: 100%;
    height: 37.5em; /* Ajuste selon la taille de ta bannière */
}
.banniereEcoute {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*CADRE D'APPEL*/   
.appel {
    position: absolute;
    top: 50%;
    right: 10%;
    left: 10%;
    transform: translateY(-50%);
    padding: 2.5rem;
    border: 0.125em solid var(--color-white);
    border-radius: 0.938em;
    width: auto;
    font-size: 1.5em;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: center;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.numtel {
    font-size: 2em;
}

/*BOUTONS*/
.btn {
    margin-top: 1rem;
}

.btn a {
    margin: 0 0.5rem;
}

.btn button {
    padding: 0.7rem 1rem;
    font-size: 1em;
    background-color: #74BFC4;
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #506FA5;
}
/*FIN DU NUMERO D'ECOUTE*/

/*CARROUSEL*/
.InfoCarrousel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.25em 0 1.25em 5.625em;
}

.InfoCarrousel a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.1875em;
}

.carousel {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden; /*cache les images qui dépassent*/
    margin-top: 4.375em;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /*animation changement d'images*/
}

.carousel-item {
    min-width: 100%;
    height: 100%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel a {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-control-prev {
    left: 0.625em;
}

.carousel-control-next {
    right: 0.625em;
}
/*FIN DU CARROUSEL*/

/*PARTENARIAT*/
.partenariat {
    display: flex;
    flex-direction: column;
    margin: 12.5em 6.875em 0 5em;
    font-size: 1.125em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.partenariat img {
    margin-top: 0.625em;
    height: auto;
}
/*FIN PARTENARIAT*/

/*SECTIONS*/
/*MISE EN FORME COMMUNE*/
.Info{
    margin:0 4em 0 4em;
    padding:1.25em 0 1.25em 0;
    border-top: 0.125em solid #A3C7C2;
    text-align: center;
}

.InfoStyle{
    font-size: 2.1875em;
    font-family: 'Josefin Sans', sans-serif;
}

.backColor{
    background-color: #E9F1F1;
    padding: 1.25em 0 1.25em 0;
}
/*FIN MISE EN FORME COMMUNE*/

/*INFOLETTRE ET ACTU*/
.Contenu{
    display: flex;
    justify-content: center; 
    gap: 16em;
}
/*FIN DE L'INFOLETTRE ET DE L'ACTU*/


/*THEATRE*/
.ContenuT {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25em;
}

.imageTheatre img {
    width: auto;
    height: auto;
}

.TheatreContenu {
    max-width: 31.25em;
}

.titre{
    font-size: 1.375em;
}
.auteur {
    font-size: 0.9375em;
}

.resume {
    text-align: left; 
}
/*FIN DU THEATRE*/

/*ACTION*/
.btnAction {
    display: flex;                   
    justify-content: center;        
    gap: 1.25em;
}

.btnAction a {
    display: flex;                   
    flex-direction: column;          
    align-items: center;             
    text-decoration: none;           
    color: var(--color-black);       
    background-color: #efe8c5;       
    padding: 1.25em;
    width: 9.375em;
    border-radius: 0.625em;
    text-align: center;             
}

.btnAction a:hover{
    background-color: #f8ebac;
}

.button-image {
    max-width: 100%;                
    height: auto;                    
    margin-top: 0.625em;
}
/*FIN DE ACTION*/
/*FIN DES SECTIONS*/

/*RESPONSIVE*/
/*FORMAT MOYEN ECRAN*/
@media (min-width: 601px) and (max-width: 1310px){
    /*CADRE D'APPEL*/
    .numtel {
        font-size: 1.7em;
    }

    .btn button {
        font-size: 0.8em;
    }
    /*CARROUSEL*/
    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }

    .InfoCarrousel{
        flex-direction: column;
        margin: 1em 4em 0 4em;
        align-items: start;
        justify-content: flex-start;
    }
    /*FIN CARROUSEL*/
    /*PARTENARIAT*/
    .partenariat {
        margin: 1.5em;
    }
    /*FIN PARTENARIAT*/

    /*THEATRE*/
    .ContenuT{
        flex-direction: column-reverse;
        gap: 4em;
    }
    /*FIN THEATRE*/

}
/*FIN FORMAT MOYEN ECRAN*/
/*FORMAT PETIT ECRAN*/
@media (max-width: 600px){
    /*CADRE D'APPEL*/
    .appel {
        right: 5%;
        left: 5%;
        padding: 0.5em 1rem 0.5em 1em;
    }

    .numtel {
        font-size: 1.7em;
    }

    .logoTel{
        display: none;
    }

    .btn button {
        font-size: 0.8em;
    }
    /*FIN CADRE D'APPEL*/
    /*CARROUSEL*/
    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }

    .InfoCarrousel{
        flex-direction: column;
        margin: 1em 4em 0 4em;
        align-items: start;
        justify-content: flex-start;
    }
    /*FIN CARROUSEL*/
    /*PARTENARIAT*/
    .partenariat {
        margin: 2em;
    }
    /*FIN PARTENARIAT*/
    /*INFOLETTRE ET ACTU*/
    .Contenu{
        flex-direction: column;
        gap: 2em;
    }
    /*FIN INFOLETTRE ET ACTU*/
    /*THEATRE*/
    .ContenuT {
        gap: 0;
    }

    .imageTheatre img {
        display: none;
    }
    /*FIN THEATRE*/
}
/*FIN FORMAT PETIT ECRAN*/
