.map{
    display: flex;
    justify-content: space-between;
}
.map_images{
    order: -1;
    width: 55%;
    float: left;
}


/* ----------- BANNIERE ------------- */

.banniere{
    width: 100%;
    height: 150px;
}

/*------------- FIN BANNIERE -------------*/

/* ----------- COMMUN A TOUS -------------- */

main{
    min-height: 80vh;
    position: relative;
    margin : 2em 8em 8em 8em;
}


.chemin{
    margin : 0 0 2em 0;
    text-decoration: none;
    font-size: large;
}
.chemin a{
    color: black;
    text-decoration: none;
}


/* ----------- FIN COMMUN A TOUS -------------- */



/* ------------------- REGION NON CLICKABLE ---------------- */
.map_images path{
    fill: #cccc;
    fill-opacity: 100;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
    transition: fill .5s;
}

.map_images path:hover{
    fill:#A8A8A8FF ;

}

/*------------------- FIN REGION NON CLICKABLE -------------------*/


/*-------------------- REGION CLICKABLE -----------------*/
.map_clickable path{
    fill:#506FA5;
    transition: .5s;
}

.map_clickable path:hover{
    fill:#77A5F5;
    transition: .5s;
}

.clicked{
    fill: #77A5F5 !important;
}
/*---------------- FIN REGION CLICKABLE -----------------*/


/*------------- DEBUT OVERLAY ----------------------*/


.selecRegion{
    border-style: solid;
    border-radius:8px;
    border-color: #d9d9d9;
    width: 32%;
    border-width: 1px;
    overflow:auto ;
    display: flex;
    justify-content: center;
    flex-flow: column
}

.selectedRegion{
    fill: #77A5F5 !important;
}

.titreContainer {
    margin: 1em 1em 0em 1em;
    bottom:50px;
    font-size: 15px;
    text-align: center;
}

.imageTitre{
    width: 13%;
    margin: 1em;
}
.default{
    text-align: center;
    font-size: 24px;
    color:#757575;
}

.contentContainer {
    display: flex;
    justify-content: left;
    gap: 10%;
    margin: 2.5em 1em 1em 4em;
    color:#757575;
    font-size: 15px;
    text-align: left;
    word-break: break-word;
}



.voir_plus{
    background: #e3e3e3;
    border-radius: 8px;
    border-style: solid;
    border-color: #767676;
    border-width: 1px;
    padding: 12px;
    position: relative;
    left: 40%;

}

button{
    margin: 5em 5em 2em 7em;
    background: #d1d1d1;
    border-radius: 8px;
    border-style: solid;
    border-color: #767676;
    border-width: 1px;
    padding: 12px;
}

button:hover {
    background-color: #c6c6c6; /* Couleur de fond au survol */
    transform: translateY(-1px); /* Légère élévation au survol */
}

/*ACTION*/
.action{
    display: flex;
    justify-content: right;
}
.Info{
    margin-top: 2em;
    border-style: solid;
    border-radius:8px;
    border-width: 1px;
    border-color: #d9d9d9;
    display: flex;
    width: fit-content;
}

.InfoStyle{
    margin-top: 1em;
    font-size: larger;
    text-align: center;
}

.btnAction {
    margin: 1em 1em 1em 1em ;
    display: flex;
    width: fit-content;
    justify-content: center;
    gap: 20px;
}

.btnAction a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
    background-color: #efe8c5;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.btnAction a:hover{
    background-color: #f8ebac;
}

.button-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
/*FIN DE ACTION*/



