/* responsive */
@media screen and (max-width: 800px) and (min-width: 400px) {
    .menu {
        flex-direction: column;
        justify-content: flex-start;
    }
    .documentations {

    }
}

/* en-tête */
.en-tête h1 {
    text-align: center;
    color: whitesmoke;
    background-color: #5d76a5;
    margin: 0;
    padding: 0;
}
.en-tête img {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* carrousel */
.carrousel {
    width: 100%;
    height: 10em;
    border: solid 2px #c2bfc6;
}

.contenu {
    width: 100%;
    height: 10em;
    justify-content: center;
}

.boutonCarrousel {
    width: 3em;
    height: 5em;
    top:30%;
}

#btndroit {
    left:0;
}

#btngauche {
    right:0;
}

/* menu */
.menu {
    display : flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.menu li:hover{
    color: #4c699d;
    font-weight: bold;
    text-decoration: underline;
}

/* navigation */
.navigation{
    display: flex;
    justify-content: space-evenly;
}

/* flux RSS */
#fluxRSS {
    width: 1.3em;
    height: 1.3em;
    border: solid 2px darkgray;
    border-radius: 10%;
    opacity: 70%;
}

#fluxRSS:hover {
    background-color: #d0d8b5;
    opacity: 100%;

}

/* barre de recherche */
.recherche img {
    height: 1em;
    padding-top: 10%;
    align-items: center;
}

.recherche input {
    height: 30px;
    background-color: #e9e7ea;
    border: none;
    border-bottom: solid 2px;
    width:15em;
}

/* filtre */
#dropdownMenuButton {
    font-family: "Consolas", serif;
    width: 7em;
}

#dropdownMenuButton img {
    margin-left: 1.5em;
    width: 1em;
    height: 0.85em;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #d5e0bb;
    border-radius: 2%;
    padding-right: 2%;
    position: absolute;
    height: 10em;
    overflow-y: scroll;
    scrollbar-color: #a8a25c #e3e1cb ;

}

.options {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}

/* flèche haut */
#scroll-up {
    position: fixed;
    margin-left: 65em;
    bottom: 60px;
    right: 30px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    background: rgba(100, 100, 100, 0.4);
    border-radius: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

#flecheHaut {
    width: 17px;
    height: 17px;
}

/* documents */
.documentations {
    column-count: 2;
}
