.titre h1 {
    text-align: center;
    color: darkblue;
}
.titre img {
    max-width: 100%;
}

.sommaire {
    display : flex;
    justify-content: center;
    list-style: none;
    gap:90px;
}
li:hover{
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: underline;
}
.navigation img {
    font-size: 30px;
    height: 10px;
}

.navigation input {
    height: 30px;
}

#BarreDeRecherche {
    background-color: lightgray;
    border: none;
}
