.questionnaire{
    margin-left: 2em;
}

button{
    background-color: mistyrose;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
}

span{
    color: red;
}

p{
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.container input[type="radio"] {
    display: none;
}

.container label {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    margin: 0 10px;
}
.container input[type="radio"]:checked + label {
    background-color: #007bff;
}
.container .label-text {
    margin-left: 10px;
}

