/* responsive */
@media (max-width: 777px) {
    .navigation {
        display: flex;
        flex-direction: row;
    }
    .documentations {
        flex: 1 1 100%;
        flex-direction: column;
    }

    .textIcon {
        font-size: 1em;
        margin-bottom: 2em;
    }

    .carrousel {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-color: #9c93a9 #dad4dc ;
        scrollbar-width: thin;
        display: flex;
        padding-bottom: 1em;
    }
}

/* en-tête */
.banniere a {
    padding-left: 2em;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.banniere img {
    width: 100%;
}

/* carrousel */
.carrousel {
    width: 100%;
    height: 15em;
    border: solid 2px #bab2c6;
    border-radius: 1.3em;
    display: flex;
}

.carrousel .container {
    height: 10em;
    justify-content: center;
    box-sizing: content-box;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}

.icon {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
    margin-top: 1.5em;
}

/* menu */
.menu {
    display : flex;
    justify-content: space-evenly;
    gap: 2%;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 1em;
    font-weight: bold;
    color: #506FA5;
    padding-bottom: 1em;
}

.menu li:hover{
    opacity: 60%;
}

/* navigation */
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2em;
}

/* flux RSS */
#fluxRSS {
    width: 1.5em;
    height: 1.5em;
    border: solid 2px darkgray;
    border-radius: 10%;
    margin-top : 0.3em;
}

#fluxRSS:hover {
    background-color: #d1ced6;
}

/* barre de recherche */
.recherche img {
    height: 2em;
    padding-top: 15%;
    align-items: center;
}

.recherche input {
    background-color: #e9e7ea;
    border: none;
    border-bottom: solid 2px #615f62;
    width:20em;
    padding-left: 1em;
}

.recherche button {
    border: 1px solid lightgray;
}

.recherche {
    display: flex;
}

/* filtre */
#dropdownMenuButton {
    width: 7em;
    border: solid 1px black;
    border-radius: 5%;
    height: 2em;
    margin-top: 1%;
}

#dropdownMenuButton img {
    margin-left: 1.5em;
    width: 1em;
    height: 0.85em;
}

.dropdown-menu {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    background-color: #d5d9e4;
    border-radius: 2%;
    padding-right: 2%;
    position: absolute;
    height: 10em;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #9c93a9 #dad4dc ;

}

.options {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

/* documents */
.documentations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    gap: 0.5%;
    margin: auto;
}

.document {
    border: solid 1px grey;
    border-radius : 2%;
    padding-left : 0.5%;
    padding-right : 0.5%;
    flex : 1 1 calc(50% - 10px);
    box-sizing : border-box;
}

/* boutons de page */
#buttonPage {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

#flecheG {
    margin-right: 0.5em;
    margin-left: 0.3em;
    width: 2em;
}

#flecheD {
    margin-left: 0.5em;
    margin-right: 0.3em;
    width: 2em;
}

#doubleFlecheD {
    width: 2em;
}

#doubleFlecheG {
    width: 2em;
}
